ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(197, 197, 197);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Condensed';
    font-size: 14px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    
  }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline;
}

.search-conatiner {
    border: rgb(124, 124, 124);
}

#bar {
    list-style-type: none;
    text-align: center;
}

#bar a {
    padding: 5px 40px;
    font-size: 18px;
    font-family: sans-serif;
}

.search-container button {
    float: right;
    padding: 0px 6px;
    margin-right: 16px;
   background-color:  rgb(124, 124, 124);;
   color: white;
    
  }
  
label {
  font-size: 12px;
  }

