#top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Condensed';
    font-size: 14px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline ;
   
  }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline;
}

.search-conatiner {
    border: rgb(124, 124, 124);
   
}

#bar {
    list-style-type: none;
    text-align: center;
}

#bar a {
    padding: 5px 40px;
    font-size: 18px;
    font-family: sans-serif;
}

.search-container button {
    float: right;
    padding: 4px 6px;
    margin-right: 16px;
   background-color:  rgb(124, 124, 124);;
   color: white;
    cursor: pointer;
  }
  
label {
  font-size: 12px;
  }

  .button {
    background-color: transparent;
    color: white;
    border: 1px solid white; 
    width: 270px;
    font-size: 17px;
    height: 35px;
  }

  .button:hover {
      background-color:  #0052C2;
  }

  #link {
      list-style-type: none;
  }

  a {
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  .under a:active {
      color: black;
  }

  input {
      width: 270px;
      height: 40px;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 13px;
    color: #595959;;
    font-weight: bold;
    float: right;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .alert {
   background-color:  rgb(241, 241, 241);
   height: 80px;
  }

  .account { 
    background-color: #012169;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
  }

.column {
    width: 33.33%;
    float: right;
}

.info-box {
    background-color: white;
}
